$mainContentWidth: 966px;

$grayscalePalette: (
  10: #eeeeee,
  50: #d5d5d5,
  100: #d0d0d0,
  200: #cacaca,
  300: #bcbcbc,
  400: #999999,
  500: #7d7d7d,
  600: #565656,
  700: #434343,
  800: #272727,
  900: #010101,
);

@function getGrayscale($value) {
  @return map-get($grayscalePalette, $value);
}

$mainPalette: (
  50: #fffefa,
  100: #fff2cc,
  200: #fde69c,
  300: #ffdc6b,
  400: #fed14b,
  500: #ffc93c,
  600: #ffbd36,
  700: #fba932,
  800: #fc9c2f,
  900: #fa7c25,
  a100: #ffed9b,
  a200: #ffdf62,
  a400: #ffcd3c,
  a700: #feb536,
);
@function getMainPalette($value) {
  @return map-get($mainPalette, $value);
}

$greenPalette: (
  50: #e7f4e8,
  100: #c9e7ca,
  200: #a5d5a6,
  300: #80c683,
  400: #67bb6a,
  500: #4caf50,
  600: #43a148,
  700: #378d3c,
  800: #2b7c31,
  900: #1c5f22,
  a100: #b9f6ca,
  a200: #6aefad,
  a400: #00e778,
  a700: #0ec852,
);
@function getGreen($value) {
  @return map-get($greenPalette, $value);
}

$redPalette: (
  50: #f7eaea,
  100: #ead9dc,
  200: #dea6a8,
  300: #d88185,
  400: #e86466,
  500: #ef5350,
  600: #df4b4d,
  700: #cc4046,
  800: #c03b3e,
  900: #b33132,
  a100: #f59895,
  a200: #f76269,
  a400: #f93c5d,
  a700: #d42426,
);
@function getRedPalette($value) {
  @return map-get($redPalette, $value);
}

$cyanBluePalette: (
  50: #aabfc9,
  100: #8ca8b1,
  200: #6e8e9a,
  300: #4d7583,
  400: #356574,
  500: #155263,
  600: #034453,
  700: #00313e,
  800: #00202b,
  900: #000b17,
);
@function getCyanBluePalette($value) {
  @return map-get($cyanBluePalette, $value);
}

$errorColor: #ef5350;
